# This notebook combines all factors into a single dataframe

In [8]:
import numpy as np
import pandas as pd
import norgatedata 
import datetime
import pickle
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [9]:
path = 'D:/Udacity/final/'

import val,vol,qua,mom factors

In [11]:
russell_ret6 = pd.read_csv(path + 'russell_ret6_f.csv',parse_dates=True,index_col = 0)
russell_vol100 = pd.read_csv(path + 'russell_vol100_f.csv',parse_dates=True,index_col = 0)
russell_ebitev = pd.read_csv(path + 'russell_ebitev_pre_f.csv',parse_dates=True,index_col = 0)
russell_roic = pd.read_csv(path + 'russell_roic_pre_f.csv',parse_dates=True,index_col = 0)

checking our shape again

In [12]:
russell_ret6.shape

(4719, 6728)

In [14]:
russell_vol100.shape

(4719, 6728)

In [15]:
russell_ebitev.shape

(4719, 6728)

In [16]:
russell_roic.shape

(4719, 6728)

Forming a multi index starting with date and factor keys

In [17]:
factor_df = pd.concat([russell_ret6,russell_vol100,russell_ebitev,russell_roic],keys = ['mom','vol','val','qua'])

In [18]:
factor_df = factor_df.swaplevel(0,1,axis=0).sort_index()

using only data from 2003 onwards, since the first year would contain nulls because of moving averages transformations

In [20]:

factor_df = factor_df.loc['2003-01-02':]

In [21]:
factor_df.to_csv(path + 'factor_df_f.csv')

In [26]:
factor_df.loc['2010-01-04']

                       A  AA  AACC-201306  AACE-200610  AACH  AAI-201105  \
Date
2010-01-04 mom  0.495436 NaN    -0.207497     0.000000   NaN   -0.197731
           qua  0.023000 NaN     0.043000     0.739000   NaN    0.042000
           val  0.010223 NaN     0.074602     0.130589   NaN    0.067231
           vol  0.016846 NaN     0.032986     0.000000   NaN    0.036512

                AAIIQ-200603  AAL  AAMC  AAMRQ-201312  ...  ZS  ZSPH-201512  \
Date                                                   ...
2010-01-04 mom  0.000000e+00  NaN   NaN      0.609005  ... NaN          NaN
           qua -2.570000e-01  NaN   NaN     -0.031000  ... NaN          NaN
           val -1.938734e+00  NaN   NaN     -0.058454  ... NaN          NaN
           vol  2.699878e-09  NaN   NaN      0.045389  ... NaN          NaN

                ZTS  ZU-201509      ZUMZ  ZUO       ZVO  ZYNE      ZYXI  \
Date
2010-01-04 mom  NaN        NaN  0.427665  NaN -0.023286   NaN  0.231579
           qua  NaN        NaN  0.056000  NaN       NaN   NaN       NaN
           val  NaN        NaN  0.027158  NaN       NaN   NaN       NaN
           vol  NaN        NaN  0.039942  NaN  0.034776   NaN  0.052390

                ZZ-201303
Date
2010-01-04 mom   0.538889
           qua   0.039000
           val   0.040089
           vol   0.035665

[4 rows x 6728 columns]